[submodule "zora-tiered-pricing-minter/lib/openzeppelin-contracts-upgradeable"]
	path = zora-tiered-pricing-minter/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/open-zeppelin/openzeppelin-contracts-upgradeable
